body{
	width: 100%;
	height: 100%;
}
.container{
	position: relative;
}
a{
	cursor:pointer;
}
.btn-search{
	margin-left: -15px;
}
.btn-search , .btn-list{
	margin-top: 20px;
}
.sub_title,.btn-list{
	margin-top:20px;
}
.btn-list>button{
	margin-right:10px;
}
.btn{width:80px;}

@-webkit-keyframes slideOut{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-o-keyframes slideOut{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes slideOut{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

#wrapper {    
    animation: slideOut;/*动画名称  */
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:slideOut 1.5s;/*webkit内核*/  
} 

/*#wrapper {
    -webkit-animation: moveToLeft .6s ease both;Safari and Chrome 
    -moz-animation: moveToLeft .6s ease both; Firefox 
    animation: moveToLeft .6s ease both;   W3C and Opera 
}
@-webkit-keyframes moveToLeft {
    from{-webkit-transform:translateX(-100%);}
    to { -webkit-transform: translateX(0%); }
}
@-moz-keyframes moveToLeft {
    from{-moz-transform:translateX(-100%);}
    to { -moz-transform: translateX(0%); }
}
@-o-keyframs moveToLeft{
    from{-o-transform:translateX(-100%);}
    to(-o-transform:translateX(0%);}
}
@keyframes moveToLeft {
    form{transform:translateX(-100%);}
    to { transform: translateX(0%); }
}*/

.list .pagination {float:left;}
.list .pagination span {cursor: pointer;}
.list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.list .pagination .separate span:hover {background: none;}
.list .topage {float:left; margin: 25px 20px;}
.list .topage input, .list .topage select{height: 26px; border: 1px solid #ddd;}
.list .topage input {width: 40px; padding-left:3px;}
.list .topage select {width: 50px;}